@font-face {font-family: Chelsea; src: url('styles/fonts/Chelsea-IV.ttf');}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  color: #1B1B1E;
  font-size: 16px;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 400;

}

h1 {
  font-size: 2.5em;
  font-family: 'Chelsea', 'Saira Semi Condensed', sans-serif;
  letter-spacing: 0.1em;
  margin: 15px auto 0;
}

h2 {
  font-size: 1.5em;
  margin: 0;
  padding: 20px 2% 10px;
}

h3 {
  font-size: 1.125em;
  margin: 0;
}

p {
  font-size: 1em;
  margin: 0;
}

a {
  font-weight: 400;
  text-decoration: none;
  overflow-wrap: break-word;
}

header {
  color: #D5DCE0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px 15px 20px;
}

a:hover {
  color: #FFFFFF;
}

main {
  height: 75vh;
}

/*COLORS*/

.bg-light-gray {
  background-color: #D5DCE0;
}

.bg-black {
  background-color: #1B1B1E;
}

.bg-white {
  background-color: #FFFFFF;
}

.black {
  color: #1B1B1E;
}

.green {
  color: #58A4B0;
}

.light-gray {
  color: #D8DBE2;
}

.white {
  color: #FFFFFF;
}

/*HEADER and NAV section*/
.icon-logo {
  display: block ;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
}

.p-header {
  margin: 5px auto 15px;
}

/*CARDS SECTION*/
.big-number {
  font-size: 1.5em;
}

.card {
  height: 60vh;
  margin: 2%;
  box-shadow: 2px 0 4px #a6a6a6;
}

.card-1 {
  background-image: url('../images/hipster1.jpg');
}

.card-2 {
  background-image: url('../images/hipster2.jpg');
}

.card-3 {
  background-image: url('../images/hipster3.jpg');
}

.card-4 {
  background-image: url('../images/hipster4.jpg');
}

.card-5 {
  background-image: url('../images/hipster5.jpg');
}

.card-6 {
  background-image: url('../images/hipster6.jpg');
}

.card-7 {
  background-image: url('../images/hipster9.jpg');
}

.card-8 {
  background-image: url('../images/hipster8.jpg');
}

.card-top {
  /*background-color: magenta;*/
  /*background-image: url('../images/hipster1.jpg');*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-top-elements {
  margin: 5% 5%;
  text-align: center;
}

.card-bottom {
  height: 65%;
  padding: 3% 5%;
}

.card-bottom-elements {
  margin: 0 0 5%;
}

.cards-section {
  height: 100vh;
}

.icon-arrow {
  height: 50px;
  width: 50px;
  box-sizing: content-box;
}

.link-box {
  padding: 2%;
}

/*Media queries*/
/*How do I make sure the two cards at the bottom don't change?*/
@media screen and (min-width: 440px) {
  .card-bottom-elements {
    margin: 0 0 6%;
  }
}

@media screen and (min-width: 560px) {
  .cards-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1.5%;
  }

  .card {
    width: 48%;
    margin: 1%;
  }

  .card-bottom-elements {
    margin: 4% 0 7%;
  }
}

/*How do I make sure the two cards at the bottom don't change?*/
@media screen and (min-width: 800px) {
   header {
    align-items: flex-end;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  nav {
    justify-content: space-between;
    padding: 20px 25px;
    width: 40%;
  }

  .logo-container {
    align-items: flex-end;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 12px;
  }

  .cards-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 1.5% 1% 1.5% 1.5%;
  }

  .card {
    width: 32%;
    margin: 0.5%;
  }

  .card-bottom-elements {
    margin: 6% 0;
  }
}

@media screen and (min-width: 960px) {
  nav {
    width: 35%;
  }

  .card {
    width: 24%;
  }

  .card-bottom-elements {
    margin: 7% 0;
  }

  .cards-section {
    justify-content: space-between;
    padding: 1.5%;
  }
}

@media screen and (min-width: 1190px) {
  .card-bottom-elements {
    margin: 3% 0 6%;
  }
}
