@font-face {font-family: Chelsea; src: url('styles/fonts/Chelsea-IV.ttf');}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  color: #1B1B1E;
  font-size: 16px;
  font-family: 'Saira Semi Condensed', sans-serif;
  font-weight: 400;

}

h1 {
  font-size: 2.5em;
  font-family: Chelsea;
  letter-spacing: 0.1em;
  margin: 15px auto 0;
}

.icon-logo {
  display: block ;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px 15px 20px;
}

h2 {
  font-size: 1.5em;
  margin: 0;
  padding: 20px 15px 10px;
}

h3 {
  font-size: 1.125em;
  margin: 0;
}

p {
  font-size: 1em;
  margin: 0;
}

header {
  color: #D5DCE0;
}

a {
  text-decoration: none;
  font-weight: 400;
}

main {
  height: 75vh;
}

.p-header {
  margin: 5px auto 15px;
}


.bg-light-gray {
  background-color: #D5DCE0;
}

.bg-black {
  background-color: #1B1B1E;
}

.bg-white {
  background-color: #FFFFFF;
}

.green {
  color: #58A4B0;
}

.light-gray {
  color: #D8DBE2;
}

.white {
  color: #FFFFFF;
}

.black {
  color: #1B1B1E;
}

.cards-section {
  height: 100vh;
}

.card {
  height: 60vh;
  margin: 3%;
}

.card-top {
  /*background-color: magenta;*/
  /*background-image: url('../images/hipster1.jpg');*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 35%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-1 {
  background-image: url('../images/hipster1.jpg');
}

.card-2 {
  background-image: url('../images/hipster2.jpg');
}

.card-3 {
  background-image: url('../images/hipster3.jpg');
}

.card-4 {
  background-image: url('../images/hipster4.jpg');
}

.card-top-elements {
  padding: 4% 5%;
  text-align: center;
}

.icon-arrow {
  height: 35%;
}

.card-bottom {
  height: 65%;
  padding: 3% 5%;
}

.card-bottom-elements {
  margin: 3% 0;
}

.big-number {
  font-size: 1.5em;
}

.link-box {
  padding: 2%;
}

/*Media queries*/
@media screen and (min-width: 650px) {
  .cards-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.5%;
  }

  .card {
    flex: 1 44%;
    margin: 1.5%;
  }

  .card-bottom-elements {
  margin: 6% 0;
}
}

@media screen and (min-width: 850px) {
  .cards-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.5%;
  }

  .card {
    flex: 1 25%;
    margin: 1.5%;
  }
}

